# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 4c3cd8f6e53f2137d99361e4e08db818ae185f6f380fbd533df3525f75a7e338e84a3ac4721dbcf1fa7cb4e7c92035b462e1d448c465762b8c985fb3d4de0a24

test:
  secret_key_base: f1e432a966191fd505915c6cf095f6d991a93bb87aac489f0fe27b4c1fb1b56a3c6a3a829ac663448485d5daa826dedc69a7df0752679c2bd25b2f59c1d64fa3

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: 4c3cd8f6e53f2137d99361e4e08db818ae185f6f380fbd533df3525f75a7e338e84a3ac4721dbcf1fa7cb4e7c92035b462e1d448c465762b8c985fb3d4de0a24
